@font-face {
    font-family: 'IRANSans-web';
    src: url('../fonts/fonts/IRANSansWeb(FaNum)_Bold.eot?#') format('eot'),  /* IE6–8 */
    url('../fonts/fonts/IRANSansWeb(FaNum)_Bold.woff2') format('woff2'),  /* Chrome36+, Opera24+*/
    url('../fonts/fonts/IRANSansWeb(FaNum)_Bold.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    font-weight: bold;
}

@font-face {
    font-family: 'IRANSans-web';
    src: url('../fonts/fonts/IRANSansWeb(FaNum)_Light.eot?#') format('eot'),  /* IE6–8 */
    url('../fonts/fonts/IRANSansWeb(FaNum)_Light.woff2') format('woff2'),  /* Chrome36+, Opera24+*/
    url('../fonts/fonts/IRANSansWeb(FaNum)_Light.woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    font-weight: 200;
}
@font-face {
    font-family: 'IRANSans-web';
    src: url('../fonts/fonts/IRANSansWeb(FaNum).eot?#') format('eot'),  /* IE6–8 */
    url('../fonts/fonts/IRANSansWeb(FaNum).woff2') format('woff2'),  /* Chrome36+, Opera24+*/
    url('../fonts/fonts/IRANSansWeb(FaNum).woff') format('woff');  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    font-weight: normal;
}
body {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #3c4858;
    text-align: right;
    direction: rtl;
    background-color:#edeff5;
    font-family: 'IRANSans-web', 'Roboto', sans-serif;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: 'IRANSans-web', 'Roboto', sans-serif;
}

.select2-container .select2-search--inline .select2-search__field {
    font-family: 'IRANSans-web', 'Roboto', sans-serif;
}

